<div class="min-vh-100 d-flex flex-column">
  {% include directory ~ '/templates/partials/header.html.twig' %}
  <main class="py-5 mb-auto">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="container d-flex justify-content-between gap-5" style="--bs-columns: 3;">
      {% if page.aside_left %}
      <div class="col-2">
        {{ page.aside_left }}
      </div>
      {% endif %}
      <div class="col">
          {{ page.content }}
      </div>
      {% if page.aside_right %}
      <div class="col-2">
        {{ page.aside_right }}
      </div>
      {% endif %}
    </div>
  </main>
  {% include directory ~ '/templates/partials/footer.html.twig' %}
</div>
