<div class="h-100">
  {% include directory ~ '/templates/partials/header.html.twig' %}
    <main  class="py-4 h-50">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div class="container grid gap-5 h-100" style="--bs-columns: 6;">
        <div class="g-col-1">
          {{ page.aside_left }}
        </div>
        <div class="g-col-4">
          <div class="d-flex justify-content-center">
            {{ page.content }}
          </div>
        </div>
        <div class="g-col-1">
          {{ page.aside_right }}
        </div>
      </div>
    </main>
  {% include directory ~ '/templates/partials/footer.html.twig' %}
</div>

