<div class="min-vh-100 d-flex flex-column">
{% include directory ~ '/templates/partials/header.html.twig' %}
<main role="main" class="py-5 mb-auto">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <div class="container grid gap-4" style="--bs-columns: 6;">
    <div class="g-col-5">
        {{ page.content }}
    </div>
    <div class="g-col-1">
      {{ page.aside_right }}
    </div>
  </div>
</main>
{% include directory ~ '/templates/partials/footer.html.twig' %}
</div>
