<header class="main-header h-100 py-5 position-sticky top-0 " role="banner">
  <div class="container d-flex justify-content-between">
    <div class="header">
      {{ page.header }}
    </div>
  {% if page.main_navigation %}
    <div class="main-navigation">
      {{ page.main_navigation }}
    </div>
  {% endif %}
  </div>
</header>
