@import "variables";
.main-footer{
  background-color: $color-footer;
  padding: 1rem;
  color: $color-white;
  max-height: 300px;
  a {
    color: $color-white;
    text-decoration: none;
    &:hover {
      color: $color-secondary;
    }
  }
}

