@import "variables";

.main-header {
  max-height: 400px;
  background-color: $color-primary;
  z-index: 5;

  a {
    font-size: 1.5em;
    color: $color-white;
    text-decoration: none;
    &:hover {
      color: $color-secondary;
    }
  }
  .header{
    a{
      font-size: 2.5rem;
    }
  }
}
